{% extends "base.html" %}

{% block title %}Index page{% endblock %}

{% block body %}

	<!-- Content here -->
	<h1>Todos</h1>
<form action="{{ url_for('index') }}" method="POST">
	{% for todo in todos %}
	<li>
		<input type="checkbox" name="done" {% if todo.done %} checked {% endif%} disabled
			onchange="this.form.submit()">
		<span {% if todo.done %} style="text-decoration: line-through;" {% endif %}>{{ todo.task }}</span>
		{% if todo.due_date %}
		<span style="margin-left: 10px;">{{ todo.format_date() }}</span>
		{% endif %}
		<a href="{{ url_for('check', id=todo.id) }}"><i class="bi bi-check2-circle" style="font-size: 1.5em;"></i></a>
		<a href="{{ url_for('edit', id=todo.id) }}"><i class="bi bi-pencil-square" style="font-size: 1.5em;"></i></a>
		<a href="{{ url_for('delete', id=todo.id) }}"><i class="bi bi-trash-fill" style="font-size: 1.5em;"></i></a>
	</li>
	{% endfor %}
</form>
<form action="{{ url_for('add') }}" method="POST">
	<input type="text" name="todo" class="add-todo-input">
	<input type="date" name="due_date" class="add-todo-input" placeholder="Due date (optional)">
	<button type="submit" class="add-todo-btn"><i class="bi bi-plus-circle"></i> Add todo</button>


</form>

{% endblock %}

{% block scripts %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
	<script>
		$(function () {
			$('[data-provide="datepicker"]').datepicker();
		});
	</script>
{% endblock %}
